
<link rel="stylesheet" href="/css/user_profile.css">
<!-- But this will be included in body off layout.ejs file  -->
    <h1>Profile \ <%= title %> </h1>

    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="150">

    <% if(locals.user.id == profile_user.id){ %>
    <!-- If user logged in matches to that of profile user then show the form -->

        <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="post">

            <input type="text" name="name" value="<%=profile_user.name %>" required placeholder="Your Name">
            <input type="email" name="email" value="<%=profile_user.email %>" required placeholder="Your Email">
            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="Update">

        </form>
    
    <% } else{ %>
<!-- Else Show only the profile Info -->
        <p> <%= profile_user.name %> </p>
        <p> <%= profile_user.email %> </p>

        <!-- Button to add and remove user as friend for logged in user  -->
        <div id="friendship-btn-container">
            <% if(locals.isFriend){ %>

                <button id="remove-friend-btn">
                    <a href="/friendships/remove/?id=<%= profile_user._id %>">Remove</a>
                </button>
                
            <%} else { %>
                <button id="add-friend-btn">
                    <a href="/friendships/add/?id=<%= profile_user._id %>">ADD</a>
                </button>
            <%}%>
        </div>
       

    
        
        

    <% } %>
   
    <script src="/js/friends_list.js"></script>